@use "../abstracts" as *;

.footer {
  text-align: center;
  padding: $spacing-lg 0;
  margin-top: $spacing-xl;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
}

.footer p {
  margin: 5px 0;
}
